@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'tahu';
    src: local('Tahu!'), url(../../../public/fonts/Tahu.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Gotham';
    src: local('Gotham'),
      url(../../../public/fonts/GothamBook.ttf) format('ttf');
  }
}
