@tailwind base;
@tailwind components;

@layer base {
    @font-face {
        font-family: 'Tahu!';
        src: local('Tahu!'), url(../fonts/Tahu!.ttf) format('truetype');
    }
}

/* @font-face {
    font-family: 'Gotham-Medium';
    src: local('Gotham-Medium'), url('GothamMedium.ttf') format('ttf');
} */

@tailwind utilities;