@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'tahu';
    src: local('Tahu!'),
      url('https://fonts.cdnfonts.com/s/15026/Tahu!.woff') format('woff');
  }

  @font-face {
    font-family: 'Gotham';
    src: local('Gotham'),
      url(../../../public/fonts/GothamBook.ttf) format('ttf');
  }
}
