@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import url('http://fonts.cdnfonts.com/css/tahu');

  @font-face {
    font-family: 'tahu';
    src: local('Tahu!'), url(../fonts/Tahu.ttf) format('ttf');
  }

  @font-face {
    font-family: 'Gotham';
    src: local('Gotham'), url(../fonts/GothamBook.ttf) format('ttf');
  }
}
